.navbar {
    width: 100%;
    background: #000;
    height: 60px;
}

.hashtag {
    color: #ccc;
}

.navbar .nav--logo {
    float: left;
    position: relative;
}

.navbar .navbar--container {
    list-style-type: none;
    width: 1020px;
    margin: 0 auto;
}

.navbar .navbar--mobile {
    display: none;
}

#nav .navbar--collapse {
    display: none;
}

.navbar .nav--logo {
    padding: 21px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-left: 50px;
}

@media screen and (max-width: 1020px) and (min-width: 820px) {
    .navbar .navbar--container {
        max-width: 95%;
    }
}

@media screen and (max-width: 819px) {
    #nav .navbar--hidden {
        opacity: 0 !important;
        display: none;
    }

    #nav .navbar--collapse {
        display: block;
        float: right;
        padding: 15px;
    }

    #nav .navbar--collapse svg {
        font-size: 30px;
        color: #fff;
    }

    #nav .nav--logo {
        margin-left: 0;
    }

    #nav .navbar--container {
        width: 100%;
        position: absolute;
        top: 60px;
        background: #000;
        opacity: 1;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), -1px 4px 2px rgba(0, 0, 0, 0.24);
        transition: opacity 0.5s ease-out;
    }
}