@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
}